body {
    font-family: serif;
    color: #64075f;
    background: #f8d1f6;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    background-image: linear-gradient(to bottom right, #def7f8, #f8d1f6);
}

p {
    text-align: justify;
    text-indent: 1rem;
}

/* unvisited link */
a:link {
    color: #d76ad1;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #9b6598;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: #9bd2d4;
    text-decoration: none;
}

/* selected link */
a:active {
    color: #ff00f1;
    text-decoration: none;
}

#banner {
    padding: 3.819660vh 0;
    display: flex;
    flex-basis: 100vw;
    margin: 0 5vw;
    background-image: url("../images/bg.png");
    background-size: 40vmin;
}

#banner h1 {
    font-style: italic;
    font-weight: bold;
    margin: auto;
    font-size: 3rem;
    text-align: center;
}

#banner a {
    text-decoration: underline overline;
    background-color: #def7f8;
}

#menu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    margin: 0 auto;
}

#menu ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: auto;
    padding: 1rem;
    list-style-type: none;
}

#menu ul li {
    margin: 0;
    padding: 0;
}

#menu ul h4 {
    margin: 0;
    padding: 0;    
}

#content {
    padding-right: 1rem;
    flex-basis: 80vw;
    flex-grow: 1;
    margin: auto;
}

#content ol {
    list-style-type: none;
}

#about {
    margin: auto;
    padding: 2vmax;
}

#contentinfo {
    display:flex;
    flex-basis: 100vmax;
}

@media (min-width: 769px) {
    #menu {
	flex-direction: column;
    }
    body {
	font-size: 1.2rem;
    }
}
